extends ../layouts/default


//- INCLUDES

//- INTRO
block intro

	//- HERO
	if !user
		h2.text-center Приветствуем Вас в панели управления системой ТОиРУС
		//img(src='/images/mobile_head.png',align='center')
	else
		article#hero.hero-meetup.hero-meetup--next
			
			//- Intro
			section.hero-intro.hero-intro--hasmask
				.hero-background
					img(src='/images/mobile_head.png',align='center')
			//- Details
			section.hero-details: .container
				.row: .col-sm-10.col-sm-offset-1: .row
					
					//- Description
					.col-md-5
						//- h3.mb-1 The meetup
						.description!= meetup.description

					//- Talks
					.col-md-6.col-md-offset-1
						if meetup.talks.length
							//- h3.mb-1 The talks
							.meetup-talks
								ul.list-unstyled.talks-list
									each talk in meetup.talks
										li.talk.row
											.col-xs-3
												.talk__speakers
													if talk.who.length
														each speaker, i in talk.who
															if speaker.isGroup
																img(src=speaker.photo.exists ? speaker.photo.url : speaker.avatarUrl || '/images/avatar.png', width=160, height=160, alt=speaker.name.full, class=talk.who.length > 1 ? 'talk__photo--mini' : null).talk__photo__group
															else
																img(src=speaker.photo.exists ? speaker._.photo.crop(320,320) : speaker.avatarUrl || '/images/avatar.png', width=160, height=160, alt=speaker.name.full, class=talk.who.length > 1 ? 'talk__photo--mini' : null).talk__photo
													else
														img(src='/images/avatar.png', width=160, height=160, alt='There is no speaker...').talk__photo
												//- if talk.who.length
													.talkers
														for photo in talk.who
															img(src='http://fillmurray.com/100/100').img-circle
											.col-xs-9
												.talk-summary
													h5.title= talk.name
													p.subtitle.mb-1 by 
														each speaker, i in talk.who
															if i
																| , 
															if speaker.isPublic 
																a(href=speaker.url)=speaker.name.full
															else
																=speaker.name.full
													.summary!= talk.description
				//- Attending
				section.attending
					#react-attending

//- BODY
block content
	.page-content
		
		//- About
		article.section.section--featured.home-about: .container
			.row: .col-sm-8.col-sm-offset-2
				p.lead Автоматизация и контроль за обслуживанием хозяйства в любой сфере деятельности. Программно-технический комплекс для транспорта, промышленности, логистики, энергетики.
			if !user
				.row: .col-sm-4.col-sm-offset-4
					a(href='/join', data-from=page.path).js-auth-trigger.btn.btn-lg.btn-block.btn-primary.mv-1
						span.text-caps Подключиться сейчас
			p.mt-1
				a(href='http://toirus.ru') Узнать больше о ТОиРУС
//- JS
block js

	//- REACT SCRIPTS
	script(src='/js/packages.js')
	script(src='/js/home.js')
