extends ../../layouts/default

block intro

block flash-messages

block content
	.container-sm
		.page-intro
			span.entypo.entypo-home(font-size:'40px')
			|   Мой аккаунт			
			//a(href='/meedit').text-muted редактировать
		.page-content.tile.ph-0.pv-2.mb-2
			.panel-heading
				span.entypo.entypo-user
				|  #{user.name}
			br
			p.lead.ph-1 e-mail: #{user.email}
			if user.status		
				p.lead.ph-1 статус: 
					font.bgreen активен
			else
				p.lead.ph-1 статус: 
					font.bred не активен
			//if user.client
			//	p.lead.ph-1 клиент: #{user.client.name}
			a(href='/meedit') 
				button(type='submit', data-loading-text="Сохраняем...").btn.btn-primary.btn-right Редактировать
			//p.lead.ph-1 метод оплаты: #{user.client.method.name}
		.page-content.tile.ph-0.pv-2.mb-2
			.panel-heading
				span.entypo.entypo-star
				|  Статистика аккаунта
			br
			p.lead.ph-1 количество сервисов (активных/всего): #{serviceactive}/#{servicecount}
			p.lead.ph-1 запросов (открытых/всего): #{ticketsactive}/#{ticketscount}
			p.lead.ph-1 баланс по счетам на данный момент: #{balance}р.
		.page-content.tile.ph-0.pv-2.mb-2
			.panel-heading
				span.entypo.entypo-bell
				|  Открытые тикеты
			br
			if tickets
				each ticket in tickets
					if ticket
						p.lead.ph-1 
							font.bgray #{ticket._.createdAt.format('DD MMM YYYY hh:mm:ss')}
							a(href='/ticket/' + ticket._id)|    ##{ticket.ticketId}
							a(href='/ticket/' + ticket._id)|  #{ticket.name}
							if ticket.ticketStatus === 'open'
								font.status-label.opened| открыт
							if ticket.ticketStatus === 'process'
								font.status-label.process| в процессе
							if ticket.ticketStatus === 'closed'
								font.status-label.closed| закрыт
			else
				h3.text-muted Нет запросов
		.page-content.tile.ph-0.pv-2.mb-2
			.panel-heading
				span.entypo.entypo-book
				|  Последние транзакции
							
			br
			if payments
				each payment in payments
					if payment
						p.lead.ph-1 
							font.bgray #{payment._.createdAt.format('DD MMM YYYY hh:mm:ss')}
							a(href='/payment/' + payment._id)|    ##{payment.paymentId}
							a(href='/payment/' + payment._id)|  #{payment.name}
							if payment.status === 'new'
								font.status-label.opened| не оплачен
							if payment.status === 'no verified'
								font.status-label.process| не подтвержден
							if payment.status === 'verified'
								font.status-label.closed| оплачен

