extends ../../layouts/default

block intro

block flash-messages

block content
	.container-sm
		.page-intro
			span.entypo.entypo-cloud(font-size:40px)
			|   Мои сервисы
			| 
			a(href='/servicenew', data-from=page.path).js-auth-trigger.btn.btn-primary.btn-small.mv-1
				span +заказать новый
			br
		if services.length
			each server in services
				if server
					.page-content.tile.ph-0.pv-2.mb-2
						.panel-heading
							- var id = server._id;
							span.entypo.entypo-cog
							|  #
							=server.serviceId
							if server.status
								|  #{server.name} 
								font.bgreen активен
								|  [ 
								a(href='/service/' + id).text-muted перейти к управлению
								| ]
							else
								|  #{server.name} 
								font.bred не активен
								|   [ 
								a(href='/service/' + id).text-muted перейти к управлению
								|  ]
						br
						if server.client
							p.lead.ph-1 Клиент: #{server.client.name}
						p.lead.ph-1 База данных: #{server.dbase}
						p.lead.ph-1 ip-адрес: #{server.ip}
						p.lead.ph-1 Имя пользователя: #{server.username}
						p.lead.ph-1 Пароль: #{server.password} 
							a(href='/resetpass/' + id).text-muted (сменить пароль)
						p.lead.ph-1 Пользователей (активно/всего): 
							a(href='/service/' + id + '/userlist/').text-muted #{server.users_used}/#{server.users_num}
						p.lead.ph-1 Тегов (активно/всего): #{server.tags_used}/#{server.tags_num}
						p.lead.ph-1 Дата регистрации услуги: #{server._.date.format('DD/MM/YYYY hh:mm:ss')}
						p.lead.ph-1 Дата окончания услуги: #{server._.date_end.format('DD/MM/YYYY hh:mm:ss')}
				else
					h3.text-muted Нет заказанных услуг

							
